In [1]:
import os
os.environ.pop('MPLBACKEND', None)

'module://matplotlib_inline.backend_inline'

In [2]:
import matplotlib

In [3]:
import matplotlib as plt

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\Hp\anaconda3\Lib\site-packages\numpy-2.2.5.dist-info due to invalid metadata entry 'name'

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv("C:/Users/Hp/Downloads/Railway_info.csv")

In [7]:
print("First 10 rows in Dataset")
df.head(10)

First 10 rows in Dataset

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days
0,107,SWV-MAO-VLNK,SAWANTWADI ROAD,MADGOAN JN.,Saturday
1,108,VLNK-MAO-SWV,MADGOAN JN.,SAWANTWADI ROAD,Friday
2,128,MAO-KOP SPEC,MADGOAN JN.,CHHATRAPATI SHAHU MAHARAJ TERMINUS,Friday
3,290,PALACE ON WH,DELHI-SAFDAR JANG,DELHI-SAFDAR JANG,Wednesday
4,401,BSB BHARATDA,AURANGABAD,VARANASI JN.,Saturday
5,421,LKO-SVDK FTR,LUCKNOW JN.,SHRI MATA VAISHNO DEVI KATRA,Tuesday
6,422,SVDK-LKO FTR,SHRI MATA VAISHNO DEVI KATRA,LUCKNOW JN.,Monday
7,477,FTR TRAIN NO,SIRSA,SIRSA,Sunday
8,502,RJPB-UMB FTR,RAJENDRANAGAR TERMINAL,AMBALA CANTT JN,Monday
9,504,PNBE-BTI FTR,PATNA JN.,BATHINDA JN,Wednesday

In [8]:
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Train_No                  11113 non-null  int64
 1   Train_Name                11113 non-null  object
 2   Source_Station_Name       11113 non-null  object
 3   Destination_Station_Name  11113 non-null  object
 4   days                      11113 non-null  object
dtypes: int64(1), object(4)
memory usage: 434.2+ KB

In [9]:
print("\nMissing Values in Each Column:")
df.isnull().sum()

Missing Values in Each Column:

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [10]:
num_trains = df.shape[0]
print(f"\nTotal no.of.trains: {num_trains}\n")

Total no.of.trains: 11113

In [11]:
num_unique_source_station_name = df['Source_Station_Name'].nunique()
print(f"\nTotal no.of.Unique_Source_Station_Name: {num_unique_source_station_name}\n")

Total no.of.Unique_Source_Station_Name: 921

In [12]:
num_unique_source_destination_name = df['Destination_Station_Name'].nunique()
print(f"\nTotal no.of.Unique_Destination_Station_Name: {num_unique_source_destination_name}\n")

Total no.of.Unique_Destination_Station_Name: 924

In [13]:
most_common_source = df['Source_Station_Name'].mode()[0]
print(f"\nMost_Common_Source_Station_Name: {most_common_source}\n")

Most_Common_Source_Station_Name: CST-MUMBAI

In [14]:
most_common_destination = df['Destination_Station_Name'].mode()[0]
print(f"\nMost_Common_Destination_Station_Name: {most_common_destination}\n")

Most_Common_Destination_Station_Name: CST-MUMBAI

In [15]:
print("\nMissing Values in Each Column:\n")
print(df.isnull().sum())

Missing Values in Each Column:

Train_No                    0
Train_Name                  0
Source_Station_Name         0
Destination_Station_Name    0
days                        0
dtype: int64

In [16]:
df['Source_Station_Name'] = df['Source_Station_Name'].str.upper()
df['Destination_Station_Name'] = df['Destination_Station_Name'].str.upper()

In [17]:
df.tail(10)

,Train_No,Train_Name,Source_Station_Name,Destination_Station_Name,days
11103,99835,LNL-PUNE EMU,LONAVLA,PUNE JN.,Tuesday
11104,99836,PUNE-TGN EMU,PUNE JN.,LONAVLA,Saturday
11105,99901,TGN-PUNE EMU,TALEGAON,PUNE JN.,Tuesday
11106,99902,PUNE-TGN EMU,PUNE JN.,TALEGAON,Sunday
11107,99903,TGN-PUNE EMU,TALEGAON,PUNE JN.,Wednesday
11108,99904,PUNE-TGN EMU,PUNE JN.,TALEGAON,Tuesday
11109,99905,EMU,TALEGAON,SHIVAJINAGAR,Monday
11110,99906,EMU,PUNE JN.,TALEGAON,Wednesday
11111,99907,EMU,TALEGAON,PUNE JN.,Thursday
11112,99908,EMU,PUNE JN.,TALEGAON,Sunday

In [18]:
df['days'].unique()

array(['Saturday', 'Friday', 'Wednesday', 'Tuesday', 'Monday', 'Sunday',
       'Thursday', 'Mondayd', 'Thursdayd', 'Tuesdayd', 'Fridayd',
       'Wednesdayd', 'Saturdayd', 'Sundayd'], dtype=object)

In [19]:
df['days'] = df['days'].str.rstrip('d')
print(df['days'].unique())

['Saturday' 'Friday' 'Wednesday' 'Tuesday' 'Monday' 'Sunday' 'Thursday']

In [20]:
saturdays_trains = df[df['days'].str.contains('Saturday', case=False)]
print("\nTotal.no.of.operating on saturdays_trains: ")
print(saturdays_trains.head())

Total.no.of.operating on saturdays_trains:
    Train_No    Train_Name Source_Station_Name Destination_Station_Name  \
0        107  SWV-MAO-VLNK     SAWANTWADI ROAD              MADGOAN JN.
4        401  BSB BHARATDA          AURANGABAD             VARANASI JN.
21      1196  NGP-KRMI SPL      NAGPUR JN.(CR)                  KARMALI
28      1706   JBP-BDTS SF            JABALPUR          BANDRA TERMINUS
45      2834  SRC-RJT SF A     SANTRAGACHI JN.                   RAJKOT

        days
0   Saturday
4   Saturday
21  Saturday
28  Saturday
45  Saturday

In [21]:
print("\nNumber of trains operating on Saturdays:", saturdays_trains.shape[0])

Number of trains operating on Saturdays: 1593

In [22]:
df['Source_Station_Name'].nunique()

921

In [23]:
station_name = 'CHENNAI CENTRAL'
trains_from_specific_station = df[df['Source_Station_Name'] == station_name]
print(f"\nTrains starting from {station_name}:")
print(trains_from_specific_station.head())
print(f"\nNumber of trains starting from {station_name}:", trains_from_specific_station.shape[0])

Trains starting from CHENNAI CENTRAL:
     Train_No    Train_Name Source_Station_Name Destination_Station_Name  \
47       2842   MAS SRC SPL     CHENNAI CENTRAL          SANTRAGACHI JN.
119      6041  MAS-QLN SPEC     CHENNAI CENTRAL                   QUILON
121      6043   MAS-QLN SPL     CHENNAI CENTRAL                   QUILON
124      6047   MAS-QLN SPL     CHENNAI CENTRAL                   QUILON
131      6058  MAS-SRC  EXP     CHENNAI CENTRAL          SANTRAGACHI JN.

          days
47   Wednesday
119     Monday
121   Saturday
124     Friday
131    Tuesday

Number of trains starting from CHENNAI CENTRAL: 78

In [24]:
train_count_per_station = df.groupby('Source_Station_Name')['Train_No'].count().reset_index(name='Train_Count')
print("\nNumber of trains from each source station:")
print(train_count_per_station)

Number of trains from each source station:
    Source_Station_Name  Train_Count
0          ABHANPUR JN.            2
1                ABOHAR            1
2              ABU ROAD            1
3          ACHHNERA JN.            1
4              ADILABAD            5
..                  ...          ...
916           WARASEONI            1
917          WARDHA JN.            4
918         WHITE FIELD            2
919       YAMUNA BRIDGE            2
920      YESVANTPUR JN.           60

[921 rows x 2 columns]

In [25]:
df['Num_Operating_Days'] = df['days'].apply(lambda x: len(x.split(',')))

avg_trains_per_day = df.groupby('Source_Station_Name')['Num_Operating_Days'].mean().reset_index(name='Avg_Trains_Per_Day')
print("\nAverage number of trains per day for each source station:")
print(avg_trains_per_day)

Average number of trains per day for each source station:
    Source_Station_Name  Avg_Trains_Per_Day
0          ABHANPUR JN.                 1.0
1                ABOHAR                 1.0
2              ABU ROAD                 1.0
3          ACHHNERA JN.                 1.0
4              ADILABAD                 1.0
..                  ...                 ...
916           WARASEONI                 1.0
917          WARDHA JN.                 1.0
918         WHITE FIELD                 1.0
919       YAMUNA BRIDGE                 1.0
920      YESVANTPUR JN.                 1.0

[921 rows x 2 columns]

In [26]:
def categorize_days(day_string):
    weekdays = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'}
    weekends = {'Saturday', 'Sunday'}
    days_set = set(day_string.split(','))

    if days_set.issubset(weekdays):
        return 'Weekday'
    elif days_set.issubset(weekends):
        return 'Weekend'
    else:
        return 'Both'

df['Train_Type'] = df['days'].apply(categorize_days)

print("\nSample data with Train_Type column added:")
print(df[['Train_No', 'Train_Name', 'days', 'Train_Type']].head())

Sample data with Train_Type column added:
   Train_No    Train_Name       days Train_Type
0       107  SWV-MAO-VLNK   Saturday    Weekend
1       108  VLNK-MAO-SWV     Friday    Weekday
2       128  MAO-KOP SPEC     Friday    Weekday
3       290  PALACE ON WH  Wednesday    Weekday
4       401  BSB BHARATDA   Saturday    Weekend

In [27]:
import matplotlib.pyplot as plt
import seaborn as sns

In [34]:
day_distribution = df['days'].value_counts()

In [35]:
day_distribution

days
Friday       1649
Tuesday      1628
Wednesday    1612
Sunday       1602
Saturday     1593
Thursday     1526
Monday       1503
Name: count, dtype: int64

In [38]:
plt.figure(figsize=(8,5))
sns.barplot(x=day_distribution.index, y=day_distribution.values, hue=day_distribution.index, dodge=False, palette="viridis", legend=False)
plt.title('Distribution of Train Journeys by Days')
plt.xlabel('Operating Day')
plt.ylabel('Number of Trains')
plt.xticks(rotation=45)
plt.show()

In [39]:
# Top 10 most frequent source stations
top_sources = df['Source_Station_Name'].value_counts().head(10)

In [40]:
# Bar plot
plt.figure(figsize=(10,6))
sns.barplot(x=top_sources.values, y=top_sources.index, palette="magma")
plt.title('Top 10 Source Stations with Most Trains')
plt.xlabel('Number of Trains')
plt.ylabel('Source Station')
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\2720167916.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_sources.values, y=top_sources.index, palette="magma")

In [41]:
# Top 10 most frequent destination stations
top_destinations = df['Destination_Station_Name'].value_counts().head(10)

plt.figure(figsize=(10,6))
sns.barplot(x=top_destinations.values, y=top_destinations.index, palette="coolwarm")
plt.title('Top 10 Destination Stations with Most Trains')
plt.xlabel('Number of Trains')
plt.ylabel('Destination Station')
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\1158022133.py:5: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_destinations.values, y=top_destinations.index, palette="coolwarm")

In [42]:
# Count plot for number of trains per day
plt.figure(figsize=(8,5))
sns.countplot(data=df, x='days', order=df['days'].value_counts().index, palette="pastel")
plt.title('Number of Trains Operating Per Day')
plt.xlabel('Day of the Week')
plt.ylabel('Number of Trains')
plt.xticks(rotation=45)
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\2971779883.py:3: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(data=df, x='days', order=df['days'].value_counts().index, palette="pastel")

In [43]:
# Pivot table for heatmap (limit to top 15 stations for clarity)
top_sources = df['Source_Station_Name'].value_counts().head(15).index
top_dests = df['Destination_Station_Name'].value_counts().head(15).index

heatmap_data = df[df['Source_Station_Name'].isin(top_sources) & df['Destination_Station_Name'].isin(top_dests)]
pivot_table = heatmap_data.pivot_table(index='Source_Station_Name', columns='Destination_Station_Name', values='Train_No', aggfunc='count', fill_value=0)

plt.figure(figsize=(14,8))
sns.heatmap(pivot_table, annot=True, fmt='d', cmap='YlGnBu')
plt.title('Train Frequency Heatmap Between Top Source and Destination Stations')
plt.xlabel('Destination Station')
plt.ylabel('Source Station')
plt.show()

## Insights:

## Friday seems to be the busiest travel day — likely due to end-of-week travel, people returning home, or heading for weekends.

## Monday and Thursday being low indicates operational optimization might be happening on these days (maintenance / less demand).

## Saturday and Sunday are moderately high, supporting weekend travel demand — but not peaking as high as Friday.

## Recommendations:

## Increase train services on Friday to manage the peak demand.

## Schedule heavy maintenance on Mondays or Thursdays when train frequency is naturally lower.

## Review and optimize weekend schedules — as Saturday is relatively lower than Friday but still significant.

In [44]:
top_sources = df['Source_Station_Name'].value_counts().head(10)

plt.figure(figsize=(10,6))
sns.barplot(x=top_sources.values, y=top_sources.index, palette="magma")
plt.title('Top 10 Source Stations with Most Trains')
plt.xlabel('Number of Trains')
plt.ylabel('Source Station')
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\2568898247.py:4: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_sources.values, y=top_sources.index, palette="magma")

In [45]:
top_destinations = df['Destination_Station_Name'].value_counts().head(10)

plt.figure(figsize=(10,6))
sns.barplot(x=top_destinations.values, y=top_destinations.index, palette="coolwarm")
plt.title('Top 10 Destination Stations with Most Trains')
plt.xlabel('Number of Trains')
plt.ylabel('Destination Station')
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\1445159967.py:4: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `y` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_destinations.values, y=top_destinations.index, palette="coolwarm")

In [46]:
plt.figure(figsize=(8,5))
sns.countplot(data=df, x='days', order=df['days'].value_counts().index, palette="pastel")
plt.title('Number of Trains Operating Per Day')
plt.xlabel('Day of the Week')
plt.ylabel('Number of Trains')
plt.xticks(rotation=45)
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_28348\1546634956.py:2: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.countplot(data=df, x='days', order=df['days'].value_counts().index, palette="pastel")

In [ ]:
top_sources = df['Source_Station_Name'].value_counts().head(15).index
top_dests = df['Destination_Station_Name'].value_counts().head(15).index

heatmap_data = df[df['Source_Station_Name'].isin(top_sources) & df['Destination_Station_Name'].isin(top_dests)]
pivot_table = heatmap_data.pivot_table(index='Source_Station_Name', columns='Destination_Station_Name', values=3'Train_No', aggfunc='count', fill_value=0)

plt.figure(figsize=(14,8))
sns.heatmap(pivot_table, annot=True, fmt='d', cmap='YlGnBu')
plt.title('Train Frequency Heatmap: Top Source-Destination Pairs')
plt.xlabel('Destination Station')
plt.ylabel('Source Station')
plt.show()

In [48]:
day_counts = df['days'].value_counts().reindex(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'])

plt.figure(figsize=(10,5))
sns.lineplot(x=day_counts.index, y=day_counts.values, marker='o', color='teal')
plt.title('Weekly Trend of Train Operations')
plt.xlabel('Day of the Week')
plt.ylabel('Number of Trains')
plt.grid(True)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Count number of trains per source station
source_counts = df['Source_Station_Name'].value_counts().head(10)

plt.figure(figsize=(12,6))
sns.barplot(x=source_counts.index, y=source_counts.values, palette='viridis')
plt.title('Top 10 Source Stations by Number of Trains')
plt.xlabel('Source Station')
plt.ylabel('Number of Trains')
plt.xticks(rotation=45)
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_11644\2736697063.py:8: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=source_counts.index, y=source_counts.values, palette='viridis')

In [ ]:
plt.figure(figsize=(10,5))
sns.barplot(x=day_counts_df['Day'], y=day_counts_df['Number_of_Trains'], palette='magma')
plt.title('Number of Trains Operating on Each Day')
plt.xlabel('Day')
plt.ylabel('Number of Trains')
plt.xticks(rotation=45)
plt.show()

C:\Users\Hp\AppData\Local\Temp\ipykernel_11644\3086989854.py:2: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=day_counts_df['Day'], y=day_counts_df['Number_of_Trains'], palette='magma')